/*UNIVERSAL STYLES*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.color-text {
  color: #0f00de;
  font-weight: 700;
}

section {
  background-color: #f5f5f5;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

li {
  list-style-type: none;
}

p {
  line-height: 1.5;
  font-size: 16px;
}

.title,
.title-title {
  font-size: 96px;
  margin-bottom: 12px;
  text-align: left;
  line-height: 1;
}

.container {
  padding: 48px 0;
}

.row {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 12px;
}

.click {
  transition: all 400ms ease;
}
.click:hover {
  color: #0f00de;
  transform: scale(1.2);
}

.click:active {
  transform: scale(0.8);
}

/*LANDING PAGE*/

#landing-page {
  min-height: 100vh;
}

.header {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 1024px;
  padding: 0 32x;
  margin: 24px 0;
}

.header__para {
  font-size: 24px;
  line-height: 2;
  width: 100%;
  max-width: 480px;
  margin: 32px 0;
}

.social__list {
  margin-top: 32px;
  display: flex;
  justify-content: space-evenly;
}

.social__link {
  font-size: 36px;
  font-weight: 700;
  padding: 16px 0;
  width: 32px;
  height: 32px;
  color: #242424;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Mail Btn & Scroll*/

.mail__btn {
  width: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 72px;
  font-size: 36px;
  border-radius: 50%;
  color: #f5f5f5;
  border: none;
  background-color: #242424;
  position: fixed;
  bottom: 32px;
  right: 48px;
  border: 2px solid transparent;
}

.mail__btn:hover {
  background-color: #f7fba6d8;
  border: 2px solid #0f00de;
}

.scroll {
  position: absolute;
  bottom: 24px;
  left: 50%;
  transform: translateX(-50%);
}

.scroll__icon {
  width: 24px;
  height: 32px;
  border: 2px solid #242424;
  border-radius: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: none;
}

.scroll__icon::after {
  content: "";
  width: 4px;
  height: 8px;
  background-color: #242424;
  border-radius: 4px;
  animation: scroll 800ms infinite alternate-reverse;
}

@keyframes scroll {
  0% {
    transform: translateY(4px);
  }

  100% {
    transform: translateY(-4px);
  }
}

/*NAVIGATION*/

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  height: 124px;
}

.nav__link--list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.nav__link {
  margin: 0 12px;
  font-size: 20px;
  padding-right: 12px;
}

.nav__link--anchor {
  text-decoration: none;
  font-size: 16px;
  color: #242424;
  font-weight: 700;
  border-bottom: 2px solid transparent;
}

.nav__link--anchor--icon {
  width: fit-content;
  text-decoration: none;
  font-size: 20px;
  color: #242424;
  font-weight: 700;
  border-radius: 50%;
}

#personal-logo {
  width: 72px;
  height: 72px;
  max-width: 100%;
  max-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 12px;
  padding-right: 8px;
}

/*NAV LINK EFFECTS*/

.nav__link--anchor {
  position: relative;
  transition: all 400ms ease;
}

.nav__link--anchor::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -4px;
  right: 0;
  background-color: #0f00de;
  transition: width 400ms ease;
}

.nav__link--anchor:hover::after {
  width: 100%;
  left: 0;
  transition: all 400ms ease;
}

.nav__link--anchor:hover {
  color: #0f00de;
}

/*LANGUAGES*/

.tech__list {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  padding-top: 48px;
}

.tech__list--point {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}
.tech__list--point i {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 72px;
  width: 64px;
  height: 64px;
  transition: all 400ms ease;
}

.tech__list--point i:hover {
  transform: scale(1.4);
}

.tech__list--point:nth-child(1) i:hover {
  color: red;
}

.tech__list--point:nth-child(2) i:hover {
  color: blue;
}

.tech__list--point:nth-child(3) i:hover {
  color: yellow;
  background-color: black;
}

.tech__list--point i:hover + .tech__list--text {
  opacity: 1;
  pointer-events: auto;
}

.tech__list--text {
  padding-top: 16px;
  opacity: 0;
  transition: all 400ms ease;
  pointer-events: none;
}

/* PROJECTS */

.section__title {
  text-align: center;
  font-size: 48px;
  margin-bottom: 60px;
}

.project__img {
  width: 100%;
  transition: all 400ms ease;
}

.project__wrapper {
  position: relative;
  border-radius: 24px;
  box-shadow: 0 10px 40px 0;
  transition: all 400ms ease;
  overflow: hidden;
}

.project__wrapper:hover .project__img {
  transform: scale(0.8);
  opacity: 0.5;
  filter: blur(8px);
}

.project__wrapper:hover .project__description {
  opacity: 1;
  transform: translateY(-50%);
}

.project__description {
  position: absolute;
  top: 50%;
  left: 88px;
  transform: translateY(-50%);
  color: white;
  max-width: 480px;
  transition: all 400ms ease;
  opacity: 0;
}

.project__wrapper:hover .project__wrapper--bg {
  opacity: 0.8;
  top: 0;
}

.project__wrapper--bg {
  position: absolute;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1c1d25;
  opacity: 0.8;
  transition: all 400ms ease;
}

.project__description--title {
  font-size: 40px;
  color: white;
}

.project__description--sub-title {
  margin-top: 8px;
}

.project__description--link {
  color: white;
  font-size: 20px;
  margin-right: 16px;
}

.project__description--para {
  margin: 16px 0;
}

footer {
  width: 100%;
  background-color: #242424;
  box-shadow: 8px 8px 8px 8px #1c1d25;
  margin-top: 48px;
}

.footer__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.footer__social--list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}

.footer__social--link {
  color: white;
  transition: all 400ms ease;
  display: inline-block;
  font-weight: 500;
  z-index: 50;
  padding: 20px;
}

.footer__copyright {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 48px;
}

/*FOOTER LINK EFFECTS*/

.footer__social--link:hover {
  transform: scale(1.2);
}

.link--box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: fit-content;
  border-radius: 12px;
  padding: 0px;
  overflow: hidden;
  transition: all 400ms ease;
}

.link--box::before,
.link--box::after {
  content: "";
  position: absolute;
  opacity: 0;
}

.link--box::before {
  transition: all 1200ms ease;
  opacity: 0;
}

.link--box::after {
  transition: all 4ms ease;
}

.link--box:hover::before {
  width: 48px;
  height: 128px;
  background: linear-gradient(
    white 0%,
    #0f00de 40%,
    #f5f5f5 60%,
    #242424 80%,
    white 100%
  );
  animation: rotate 4s linear infinite;
  opacity: 1;
}

.link--box:hover::after {
  background-color: #242424;
  inset: 4px;
  border-radius: 12px;
  opacity: 1;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
