/*UNIVERSAL STYLES*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #f5f5f5;
  transition: all 400ms ease;
}

.color-text {
  color: #665cf4;
  font-weight: 700;
}

section {
  background-color: #f5f5f5;
  transition: all 400ms ease;
  z-index: 5;
}

input,
textarea {
  width: 100%;
  background-color: #242424;
  color: white;
  outline: none;
  border: 2px solid #c0c4cc;
  border-top: none;
  border-left: none;
  border-right: none;
  height: 40px;
  transition: all 400ms ease;
}

textarea {
  resize: none;
  height: 108px;
  padding: 4px;
  margin-top: 8px;
}

input:hover,
textarea:hover {
  border-color: #736c73;
}

input:focus,
textarea:focus {
  border-color: #f06449;
}

label {
  font-size: 16px;
  font-weight: bold;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

li {
  list-style-type: none;
}

p {
  line-height: 1.5;
  font-size: 16px;
}

.title,
.title-title {
  font-size: 96px;
  margin-bottom: 12px;
  text-align: left;
  line-height: 1;
}

.container {
  padding: 48px 0;
}

.row {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 12px;
}

.click {
  transition: all 400ms ease;
  cursor: pointer;
}
.click:hover {
  color: #665cf4;
  transform: scale(1.2);
}

.click:active {
  transform: scale(0.8);
}

nav,
.scroll,
.header,
#languages,
#projects,
footer {
  opacity: 1;
  visibility: visible;
  transition: all 400ms 600ms ease;
}

.mail__btn {
  transition: all 400ms ease;
  box-shadow: 0 12px 32px 0 rgb(0 0 0 0.2);
  z-index: 100;
}

.modal--open nav,
.modal--open .scroll,
.modal--open .header,
.modal--open .mail__btn,
.modal--open #languages,
.modal--open #projects,
.modal--open footer {
  opacity: 0;
  visibility: hidden;
  transition: all 400ms;
}

.modal--open {
  overflow: hidden;
}

.dark-theme {
  background-color: #242424;
}

.dark-theme .title,
.dark-theme .title-title,
.dark-theme .section__title,
.dark-theme .section__sub-title,
.dark-theme .nav__link--anchor,
.dark-theme .fa-circle-half-stroke,
.dark-theme .header__para,
.dark-theme .tech__list--point,
.dark-theme .social__link {
  color: white;
  transition: all 400ms ease;
}

.dark-theme .fa-circle-half-stroke:hover {
  color: #665cf4;
}

.dark-theme section {
  background-color: #242424;
  transition: all 400ms ease;
}

.dark-theme #personal-logo {
  filter: none;
  transition: all 400ms ease;
}

.dark-theme .scroll__icon::after,
.dark-theme .scroll__icon {
  color: white;
  border-color: white;
  transition: all 400ms ease;
}

.dark-theme .scroll__icon::after {
  background-color: white;
  border-color: white;
  transition: all 400ms ease;
}

.dark-theme .mail__btn,
.dark-theme .link__hover--black {
  background-color: #f5f5f5;
}

.dark-theme .link--box:hover::after {
  background-color: #1c1d25;
}

.dark-theme .mail__btn i {
  color: #1c1d25;
}

.dark-theme footer {
  background-color: #1c1d25;
}

.dark-theme .footer__logo {
  filter: invert(0);
}

/*LANDING PAGE*/

#landing-page {
  min-height: 100vh;
}

.header {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 1024px;
  padding: 0 32x;
  margin: 24px 0;
}

.header__para {
  font-size: 24px;
  line-height: 2;
  width: 100%;
  max-width: 480px;
  margin: 32px 0;
}

.social__list {
  margin-top: 32px;
  display: flex;
  justify-content: space-evenly;
}

.social__link {
  font-size: 36px;
  font-weight: 700;
  padding: 16px 0;
  width: 32px;
  height: 32px;
  color: #242424;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Mail Btn & Scroll*/

.mail__btn {
  width: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 72px;
  font-size: 36px;
  border-radius: 50%;
  color: #f5f5f5;
  border: none;
  background-color: #242424;
  position: fixed;
  bottom: 32px;
  right: 48px;
  border: 2px solid transparent;
}

.mail__btn:hover {
  background-color: #f7fba6d8;
  border: 2px solid #665cf4;
}

.scroll {
  position: absolute;
  bottom: 24px;
  left: 50%;
  transform: translateX(-50%);
}

.scroll__icon {
  width: 24px;
  height: 32px;
  border: 2px solid #242424;
  border-radius: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 400ms ease;
}

.scroll__icon:hover::after {
  background-color: #665cf4;
}

.scroll__icon:hover {
  border-color: #665cf4;
}

.scroll__icon::after {
  content: "";
  width: 4px;
  height: 8px;
  background-color: #242424;
  border-radius: 4px;
  transition: all 400ms ease;
  animation: scroll 800ms infinite alternate-reverse;
}

@keyframes scroll {
  0% {
    transform: translateY(4px);
  }

  100% {
    transform: translateY(-4px);
  }
}

/*NAVIGATION*/

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  height: 124px;
  flex-direction: row;
}

.nav__link--list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.nav__link {
  margin: 0 12px;
  font-size: 20px;
  padding-right: 12px;
}

.nav__link--anchor {
  text-decoration: none;
  font-size: 16px;
  color: #242424;
  font-weight: 700;
  border-bottom: 2px solid transparent;
}

.nav__link--anchor--icon {
  width: fit-content;
  text-decoration: none;
  font-size: 20px;
  color: #242424;
  font-weight: 700;
  border-radius: 50%;
}

#personal-logo {
  width: 72px;
  height: 72px;
  max-width: 100%;
  max-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 12px;
  padding-right: 8px;
  filter: invert(1);
}

/*NAV LINK EFFECTS*/

.nav__link--anchor {
  position: relative;
  transition: all 400ms ease;
}

.nav__link--anchor::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -4px;
  right: 0;
  background-color: #665cf4;
  transition: width 400ms ease;
}

.nav__link--anchor:hover::after {
  width: 100%;
  left: 0;
  transition: all 400ms ease;
}

.nav__link--anchor:hover {
  color: #665cf4;
}

/*MODAL*/

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 1024px;
  height: 648px;
  visibility: hidden;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  z-index: -1;
  transition: all 400ms ease;
}

.modal--open .modal {
  z-index: 10;
  box-shadow: 0 20px 80px 0 rgb(0, 0, 0, 0.55);
  visibility: visible;
}

.modal__half {
  width: 50%;
  display: flex;
  justify-content: center;
  position: relative;
  transition: all 400ms ease;
}

.modal--open .modal__about,
.modal--open .modal__contact {
  transform: translateX(0%);
}

.modal__about {
  background-color: rgb(245, 245, 245);
  display: flex;
  flex-direction: column;
  padding: 40px 72px;
  transform: translateX(-110%);
}

.title__section--wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 24px;
  justify-content: space-between;
}

.title__section--text {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
}
.profile--wrapper {
  display: flex;
}

.profile__pic {
  max-width: 120px;
  max-height: 120px;
  border-radius: 50%;
  border: 2px solid #665cf4;
}

.modal__contact {
  background-color: #242424;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 64px 72px 40px 72px;
  transform: translateX(110%);
}

.form__btn {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}

.form__btn--btn {
  border-radius: 8px;
  font-size: 20px;
  padding: 12px 24px;
  background-color: #f06449;
  color: white;
  border: 2px solid transparent;
  transition: all 400ms ease;
  font-weight: bold;
}

.form__btn--btn:hover {
  border: 2px solid white;
  background: transparent;
  transform: scale(1.04);
}

.form__btn--btn:active {
  transform: scale(0.8);
  background-color: #f06449;
  border: 2px solid transparent;
}

.modal__title {
  font-size: 24px;
}

.modal__sub-title {
  margin: 12px 0 24px 0;
}

.modal__para {
  margin-bottom: 12px;
  line-height: 1.75;
}

.modal__languages--wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.modal__languages {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 33%;
}

.modal__language--pic-wrap {
  position: relative;
  width: fit-content;
  height: fit-content;
}

.modal__language--pic {
  max-width: 60px;
  max-height: 60px;
  padding: 4px;
  margin-top: 60px;
  transition: all 400ms ease;
  transform: scale(1);
}

.language__text {
  position: absolute;
  width: 100%;
  bottom: -20px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: all 400ms ease;
  cursor: default;
  font-size: 12px;
}

.modal__language--pic:hover {
  transform: scale(0.8);
  filter: blur(1px) grayscale(1);
}

.modal__language--pic:hover + .language__text {
  opacity: 1;
}

.form__item {
  margin-bottom: 20px;
}

.modal__overlay {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.modal__overlay--loading {
  background-color: #1c1d25;
  z-index: -1;
  font-size: 88px;
}

.modal__overlay--success {
  background-color: #4bb543;
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  padding: 32px;
  z-index: -1;
}

.modal__overlay--visible {
  z-index: 1;
  display: flex;
}

.fa-spinner {
  animation: spinner 800ms infinite linear;
}

@keyframes spinner {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.modal__exit {
  position: absolute;
  top: 28px;
  right: 40px;
  color: white;
  font-size: 36px;
  z-index: 100;
}

.modal__exit:hover {
  color: #f06449;
}

/* PROJECTS */

.section__title {
  text-align: center;
  font-size: 48px;
  margin-bottom: 60px;
}

.project__img {
  width: 100%;
  transition: all 400ms ease;
}

.project__wrapper {
  position: relative;
  border-radius: 24px;
  box-shadow: 0 10px 40px 0;
  transition: all 400ms ease;
  overflow: hidden;
  background-color: #f5f5f5;
}

.project__wrapper:hover .project__img {
  transform: scale(0.8);
  opacity: 0.5;
  filter: blur(8px);
}

.project__wrapper:hover .project__description {
  opacity: 1;
  transform: translateY(-50%);
}

.project__description {
  position: absolute;
  top: 50%;
  left: 88px;
  transform: translateY(-50%);
  color: white;
  max-width: 480px;
  transition: all 400ms ease;
  opacity: 0;
}

.project__wrapper:hover .project__wrapper--bg {
  opacity: 0.8;
  top: 0;
}

.project__wrapper--bg {
  position: absolute;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1c1d25;
  opacity: 0.8;
  transition: all 400ms ease;
}

.project__description--title {
  font-size: 40px;
  color: white;
}

.project__description--sub-title {
  margin-top: 8px;
}

.project__description--link {
  color: white;
  font-size: 20px;
  margin-right: 16px;
}

.project__description--para {
  margin: 16px 0;
}

/*FOOTER*/

footer {
  width: 100%;
  background-color: #242424;
  box-shadow: 8px 8px 8px 8px #1c1d25;
  padding-top: 36px;
  position: relative;
}

.footer__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  filter: invert(1);
  margin-bottom: 24px;
}

.footer__social--list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}

.footer__social--link {
  color: white;
  transition: all 400ms ease;
  display: inline-block;
  font-weight: 500;
  z-index: 50;
  padding: 20px;
}

.footer__copyright {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 48px;
}

/*FOOTER LINK EFFECTS*/

.footer__social--link:hover {
  transform: scale(1.2);
}

.link--box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: fit-content;
  border-radius: 12px;
  padding: 0px;
  overflow: hidden;
  transition: all 400ms ease;
}

.link--box::before,
.link--box::after {
  content: "";
  position: absolute;
  opacity: 0;
}

.link--box::before {
  transition: all 1200ms ease;
  opacity: 0;
}

.link--box::after {
  transition: all 4ms ease;
}

.link--box:hover::before {
  width: 48px;
  height: 128px;
  background: linear-gradient(
    white 0%,
    #665cf4 20%,
    #483bf4 40%,
    #0f00de 60%,
    #242424 80%,
    white 100%
  );
  filter: blur(8px) brightness(150%);
  animation: rotate 4s linear infinite;
  opacity: 1;
}

.link--box:hover::after {
  background-color: #242424;
  inset: 4px;
  border-radius: 12px;
  opacity: 1;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* SHAPES */

.shape {
  position: fixed;
  width: 28px;
  height: 28px;
  opacity: 0.25;
  animation: shapeSpin 9600ms linear infinite reverse;
}

@keyframes shapeSpin {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 360deg;
  }
}

.shape--0 {
  top: 15vh;
  left: 10vw;
}

.shape--1 {
  top: 15vh;
  left: 50vw;
  filter: grayscale(1);
}

.shape--2 {
  top: 15vh;
  left: 90vw;
  filter: invert(1);
}

.shape--3 {
  top: 50vh;
  left: 10vw;
  filter: grayscale(1);
}

.shape--4 {
  top: 50vh;
  left: 50vw;
  filter: invert(1);
}

.shape--5 {
  top: 50vh;
  left: 90vw;
}

.shape--6 {
  top: 90vh;
  left: 10vw;
  filter: invert(1);
}

.shape--7 {
  top: 90vh;
  left: 50vw;
}

.shape--8 {
  top: 90vh;
  left: 90vw;
  filter: grayscale(1);
}

/*MEDIA QUERIES*/

@media (max-width: 1024px) {
  .title,
  .title-title,
  .section__title,
  .section__sub-title {
    font-size: 72px;
  }
  .header__para {
    font-size: 16px;
  }
  nav {
    padding: 4px;
  }
  #landing-page,
  #languages {
    padding: 36px;
  }
  #projects {
    padding: 0 80px 32px 80px;
  }
  .header {
    padding: 72px;
  }
  .modal {
    height: 97%;
    width: 97%;
  }
  .modal__languages--wrapper {
    margin-bottom: 36px;
    padding-bottom: 36px;
    margin-top: 4px;
    padding-top: 4px;
  }
  .modal__language--pic-wrap {
    padding-top: 4px;
    margin-top: 4px;
  }
  .modal__half {
    padding: 24px;
  }
  .modal__about,
  .modal__contact {
    padding: 32px;
  }
  .form__btn {
    margin-bottom: 24px;
    padding-bottom: 8px;
  }
}

@media (max-width: 768px) {
  .title,
  .title-title,
  .section__title,
  .section__sub-title {
    font-size: 68px;
  }
  .header__para {
    font-size: 16px;
    margin: 60px 0 60px 0;
  }
  nav {
    padding: 4px;
  }
  #landing-page,
  #projects,
  #languages {
    padding: 36px;
  }
  .header {
    padding: 72px;
  }
  .modal {
    top: 0;
    left: 0;
    transform: none;
    height: auto;
    width: 100%;
    margin: 0 auto;
    flex-direction: column-reverse;
    border-radius: 0;
    max-height: 101vh;
  }
  .modal__half {
    width: 100%;
    height: auto;
    padding: 48px;
    max-height: 75vh;
  }
  textarea {
    height: 60px;
  }
  .modal__about:nth-child(1),
  .modal__about:nth-child(2) {
    flex-direction: column;
  }
  .title__section--wrapper {
    margin-bottom: 4px;
  }
  .modal__para {
    padding: 8px;
    margin: 0 auto;
    width: 100%;
  }
  .modal__languages--wrapper {
    margin: 0 auto;
    padding: 4px;
    width: 100%;
    justify-content: space-evenly;
  }
  .modal__language--pic {
    margin-top: 8px;
  }
  .language__text {
    margin-bottom: 8px;
  }
}

@media (max-width: 480px) {
  .title,
  .title-title,
  .section__title,
  .section__sub-title {
    font-size: 32px;
  }
  #personal-logo {
    width: 48px;
    height: 48px;
  }
  nav {
    width: 100%;
    margin: 0 auto;
    padding: 0 auto;
  }
  .header__para {
    font-size: 12px;
    margin: 0 auto;
    padding-top: 12px;
    padding-bottom: 12px;
  }
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 4px 32px 12px 32px;
    margin: 0 auto;
    bottom: 48px;
  }
  .social__link {
    font-size: 24px;
  }
  .nav__link--anchor {
    font-size: 12px;
  }
  .mail__btn {
    bottom: 0;
    right: 0;
    width: 40px;
    height: 40px;
    bottom: 24px;
    right: 24px;
  }
  .mail__btn i {
    font-size: 24px;
  }
  #landing-page,
  #projects,
  #languages {
    padding: 12px;
    margin: 0 auto;
  }
  #languages {
    display: none;
  }
  .modal {
    height: fit-content;
  }
  .modal__half {
    height: 50vh;
  }
  .modal__contact,
  .modal__about,
  .modal__para {
    font-size: 12px;
  }
  .profile--wrapper {
    display: none;
  }
  .modal__para {
    padding: 4px;
  }
  .tech__list--point i {
    width: 28px;
    height: 28px;
    font-size: 32px;
  }
  .project__description--para {
    display: none;
  }
  .project__description {
    left: 0;
    padding: 4px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .project__description--para,
  .project__description--title,
  .project__description--sub-title {
    font-size: 12px;
    padding: 4px;
  }
  .project__anchors {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
    padding: 4px;
    margin-top: 8px;
  }
  .project__description--link {
    font-size: 16px;
    margin: 0 auto;
    padding: 4px;
  }
  footer {
    padding: 0;
  }
  footer .container {
    padding: 4px;
  }
  .footer__logo {
    margin-top: 12px;
    margin-bottom: 4px;
    padding-right: 3px;
  }
  .footer__social--list {
    display: flex;
    flex-flow: column wrap;
    width: 100%;
  }
  .footer__social--link,
  .footer__copyright {
    font-size: 12px;
  }
  .footer__social--link {
    padding: 24px;
  }
  .footer__copyright {
    margin: 0 auto;
    padding-bottom: 8px;
    padding-top: 4px;
  }
  .shape {
    width: 16px;
    height: 16px;
  }
  .modal__half {
    padding: 24px;
  }
  .form__btn {
    margin: 0 auto;
    padding: 4px;
  }
  .form__btn--btn {
    font-size: 16px;
  }
  .modal__title,
  .modal__sub-title {
    display: none;
  }
  .modal__exit {
    font-size: 20px;
    top: 8px;
    right: 8px;
    margin: 4px;
  }
}

@media (max-width: 400px) {
}
